@import "tailwindcss";

.swiper-button-prev{
    color: #ffb400 !important ;
    background: #000000;
    padding: 10px 2px;
    border-right: 2px solid #ffb400;
  border-top-left-radius: 20px;
border-bottom-left-radius: 20px;


}


.swiper-button-next{
    color: #ffb400 !important ;
    background: #000000;
    padding: 10px 2px;
    border-left: 2px solid #ffb400;
  border-top-right-radius: 20px;
border-bottom-right-radius: 20px;


}


.playfair-display{
  font-family: "Playfair Display", serif;

}

